<!DOCTYPE html>
<html>
<head>
    <style>
        height: 20%;
        width: 20%;
    </style>
    <meta charset="ÜTF-8">
</head>
<title></title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<body>
<div class="text-center" div style = text-align:center>
    <button onclick="location.href = 'http://127.0.0.1:5000/todaysffirmation';" id="myButtonOne" class="float-left submit-button" >Affirmation</button>
    <button onclick="location.href = 'http://127.0.0.1:5000/philosophyquote';" id="myButtonTwo" class="float-left submit-button" >Philosophy Quote</button>
    <button onclick="location.href = 'http://127.0.0.1:5000';" id="myButtonThree" class="float-left submit-button" >Home</button>
</div>
<div style="position: relative">
    <p style="position: fixed; bottom: 0; width:100%; text-align: center"> {{data}}
    </p>
</div>
</body>
</html>
</doctype>